<h3>Update Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.emailId" name="emailId">
    </div>
    <div class="form-group">
      <label for="name">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="employee.phoneNumber" name="phoneNumber">
    </div>
    <div class="form-group">
      <label for="name">Hire Date</label>
      <input type="date" class="form-control" id="hireDate" required [(ngModel)]="employee.hireDate" name="hireDate">
    </div>
    <div class="form-group">
      <label for="name">Salary</label>
      <input type="text" class="form-control" id="salary" required [(ngModel)]="employee.emailId" name="salary">
    </div>
    <div class="form-group">
      <label for="name">Job</label>
      <input type="" class="form-control" id="job" required [(ngModel)]="employee.jobId" name="job">
    </div>
    <div class="form-group">
      <label for="name">Department</label>
      <input type="text" class="form-control" id="department" required [(ngModel)]="employee.departmentId" name="department">
    </div>
    <div class="form-group">
      <label for="name">Work At</label>
      <input type="text" class="form-control" id="workat" required [(ngModel)]="employee.companyId" name="emailId">
    </div>
    <div class="form-group">
      <label for="name">Gender</label>
      <input type="text" class="form-control" id="gender" required [(ngModel)]="employee.gender" name="gender">
    </div>
    <div class="form-group">
      <label for="name">Marital Status</label>
      <input type="text" class="form-control" id="maritalStatus" required [(ngModel)]="employee.maritalStatus" name="maritalStatus">
    </div>
    <div class="form-group">
      <label for="name">Nationality</label>
      <input type="text" class="form-control" id="nationality" required [(ngModel)]="employee.nationality" name="nationality">
    </div>
    <div class="form-group">
      <label for="name">Employee Image</label>
      <img >
      <input type="image" class="form-control" id="image" required [(ngModel)]="employee.photo" name="image">
    </div>
    <div class="form-group">
      <label for="name">Driving License</label>
      <input type="text" class="form-control" id="drivingLicense" required [(ngModel)]="employee.drivingLicense" name="drivingLicense">
    </div>
    <div class="form-group">
      <label for="name">Military Status</label>
      <input type="text" class="form-control" id="militaryStatus" required [(ngModel)]="employee.militaryStatus" name="militaryStatus">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
